@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  overflow-x: hidden; }
  body .welcomePage {
    width: 100vw;
    height: 100vh;
    background-image: url(../pics/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: auto;
    overflow: hidden; }
    body .welcomePage .borderTop {
      height: 4%;
      background-color: #222222; }
    body .welcomePage .welcomeScroll {
      overflow-y: scroll;
      height: 100%; }
      body .welcomePage .welcomeScroll .header {
        width: 22vw;
        height: 30vh;
        border: 3px solid white;
        border-radius: 8px;
        background-color: white;
        margin: 15% auto 13% auto;
        padding: 20px;
        vertical-align: middle;
        font-family: "lato"; }
        body .welcomePage .welcomeScroll .header .top {
          height: 50%; }
          body .welcomePage .welcomeScroll .header .top .vcard {
            float: left; }
          body .welcomePage .welcomeScroll .header .top .name {
            font-size: 30px; }
            body .welcomePage .welcomeScroll .header .top .name .firstname {
              font-weight: bold;
              margin-top: 0;
              transform: translateX(1vw); }
            body .welcomePage .welcomeScroll .header .top .name .lastname {
              transform: translateX(3vw);
              margin-top: 0;
              font-weight: bolder; }
        body .welcomePage .welcomeScroll .header .proList {
          text-align: center;
          width: 100%; }
          body .welcomePage .welcomeScroll .header .proList ul li {
            height: 5%;
            display: inline; }
        body .welcomePage .welcomeScroll .header .phone {
          text-align: center;
          height: 15%;
          margin: auto; }
          body .welcomePage .welcomeScroll .header .phone .number {
            text-decoration: none;
            color: #222222; }
            body .welcomePage .welcomeScroll .header .phone .number:hover {
              text-decoration: underline; }
        body .welcomePage .welcomeScroll .header .link {
          text-align: center;
          width: 100%;
          justify-content: space-between;
          margin: auto;
          font-size: 12px;
          height: 10%;
          padding: 5px; }
          body .welcomePage .welcomeScroll .header .link .a, body .welcomePage .welcomeScroll .header .link .b, body .welcomePage .welcomeScroll .header .link .c {
            text-decoration: none;
            border: 1px solid #222222;
            padding: 5px;
            background-color: #222222;
            border-radius: 5px;
            color: white; }
            body .welcomePage .welcomeScroll .header .link .a:hover, body .welcomePage .welcomeScroll .header .link .b:hover, body .welcomePage .welcomeScroll .header .link .c:hover {
              background-color: white;
              color: #222222; }
      body .welcomePage .welcomeScroll .welcomeStock {
        background-color: #F7F7F7;
        height: 100vh;
        font-family: "lato"; }
        body .welcomePage .welcomeScroll .welcomeStock .stockTitle {
          text-align: center;
          padding: 1%;
          font-weight: lighter;
          font-size: 20px; }
        body .welcomePage .welcomeScroll .welcomeStock .research {
          text-align: center; }
          body .welcomePage .welcomeScroll .welcomeStock .research .researchButton {
            border: 1px solid #222222;
            background-color: #222222;
            color: #F7F7F7;
            border-radius: 5px;
            padding: 3px; }
            body .welcomePage .welcomeScroll .welcomeStock .research .researchButton:hover {
              background-color: #F7F7F7;
              color: #222222; }
  body .presentation {
    width: 100vw;
    height: 100vh; }
    body .presentation .presentationTop {
      transform: translateY(-2vh);
      font-family: "lato";
      width: 100%;
      position: fixed; }
      body .presentation .presentationTop .borderTop {
        color: #F7F7F7;
        height: 3vh;
        background-color: #222222;
        width: 100%; }
        body .presentation .presentationTop .borderTop ul {
          margin: 0;
          padding: 0;
          padding-top: 15px;
          transform: translateY(-1vh); }
          body .presentation .presentationTop .borderTop ul li {
            display: inline;
            margin: auto;
            padding: auto;
            font-size: 12px; }
      body .presentation .presentationTop .borderTop2 {
        color: #F7F7F7;
        background-color: #222222;
        width: 100%;
        height: 10vh;
        border-top: 1px solid grey;
        padding: 5px 0 0 0; }
        body .presentation .presentationTop .borderTop2 .presentationName img {
          float: left;
          height: 7vh;
          padding-left: 5px; }
        body .presentation .presentationTop .borderTop2 .presentationName .name .firstname {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
          transform: translateX(1vw); }
        body .presentation .presentationTop .borderTop2 .presentationName .name .lastname {
          margin-top: 0;
          padding: 0;
          transform: translateX(3vw); }
        body .presentation .presentationTop .borderTop2 .presentationLink {
          text-align: center;
          transform: translateY(-6vh);
          padding: 15px; }
          body .presentation .presentationTop .borderTop2 .presentationLink .a {
            padding: 10px;
            border: 1px solid #564E44;
            background-color: #564E44;
            color: #F7F7F7;
            border-radius: 5px; }
          body .presentation .presentationTop .borderTop2 .presentationLink .b, body .presentation .presentationTop .borderTop2 .presentationLink .c {
            border: 1px solid #222222;
            padding: 5px;
            background-color: #222222;
            border-radius: 5px;
            color: white; }
            body .presentation .presentationTop .borderTop2 .presentationLink .b:hover, body .presentation .presentationTop .borderTop2 .presentationLink .c:hover {
              background-color: #F7F7F7;
              color: #222222;
              padding: 10px; }
        body .presentation .presentationTop .borderTop2 .phoneNumber {
          float: right;
          transform: translateY(-12vh); }
          body .presentation .presentationTop .borderTop2 .phoneNumber .number {
            color: #F7F7F7;
            font-size: 14px;
            padding-right: 3vw; }
    body .presentation .main {
      height: 100vh;
      text-align: center;
      font-family: "lato";
      width: 100vw; }
      body .presentation .main .presentationMotte {
        transform: translateY(20vh); }
      body .presentation .main img {
        margin-top: 25vh; }
      body .presentation .main .desc1 {
        width: 20vw;
        margin: auto;
        text-align: left;
        font-size: 18px; }
      body .presentation .main .desc2 {
        width: 20vw;
        margin: 5vh auto;
        text-align: center;
        font-size: 18px; }
      body .presentation .main ul {
        text-align: center;
        list-style-type: none;
        line-height: 5vh; }
        body .presentation .main ul .buttonList {
          border: 1px solid #222222;
          padding: 5px;
          background-color: #222222;
          border-radius: 5px;
          color: white; }
          body .presentation .main ul .buttonList:hover {
            background-color: #F7F7F7;
            color: #222222;
            padding: 10px; }
      body .presentation .main .presentationFooter {
        background-color: #222222;
        height: 19vh;
        color: #F7F7F7;
        font-size: 14px; }
        body .presentation .main .presentationFooter .lignea {
          padding-top: 5vh; }
          body .presentation .main .presentationFooter .lignea .footerLink {
            color: #F7F7F7; }
        body .presentation .main .presentationFooter .ligneb {
          color: #F7F7F7; }
  body .contact {
    width: 100vw;
    height: 100vh;
    font-family: "lato"; }
    body .contact .contactTop .borderTop {
      height: 3vh;
      background-color: #222222;
      width: 100vw;
      color: #F7F7F7; }
      body .contact .contactTop .borderTop ul {
        font-size: 14px;
        height: 3vh;
        list-style-type: none;
        display: inline;
        height: 5vh;
        margin: 0;
        padding: 0;
        padding-top: 15px; }
        body .contact .contactTop .borderTop ul li {
          display: inline; }
    body .contact .contactTop .borderTop2 {
      color: #F7F7F7;
      background-color: #222222;
      width: 100%;
      height: 10vh;
      border-top: 1px solid grey;
      padding: 5px 0 0 0; }
      body .contact .contactTop .borderTop2 .presentationName img {
        float: left;
        height: 7vh;
        padding-left: 5px; }
      body .contact .contactTop .borderTop2 .presentationName .name .firstname {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        transform: translateX(1vw); }
      body .contact .contactTop .borderTop2 .presentationName .name .lastname {
        margin-top: 0;
        padding: 0;
        transform: translateX(3vw); }
      body .contact .contactTop .borderTop2 .presentationLink {
        text-align: center;
        transform: translateY(-6vh);
        padding: 15px; }
        body .contact .contactTop .borderTop2 .presentationLink .c {
          padding: 10px;
          border: 1px solid #564E44;
          background-color: #564E44;
          color: #F7F7F7;
          border-radius: 5px; }
        body .contact .contactTop .borderTop2 .presentationLink .a, body .contact .contactTop .borderTop2 .presentationLink .b {
          border: 1px solid #222222;
          padding: 5px;
          background-color: #222222;
          border-radius: 5px;
          color: white; }
          body .contact .contactTop .borderTop2 .presentationLink .a:hover, body .contact .contactTop .borderTop2 .presentationLink .b:hover {
            background-color: #F7F7F7;
            color: #222222;
            padding: 10px; }
      body .contact .contactTop .borderTop2 .phoneNumber {
        float: right;
        transform: translateY(-12vh); }
        body .contact .contactTop .borderTop2 .phoneNumber .number {
          color: #F7F7F7;
          font-size: 14px;
          padding-right: 3vw; }
    body .contact .main {
      margin: auto;
      text-align: center;
      width: 100vw; }
      body .contact .main .title {
        width: 100vw;
        text-align: center;
        margin: 15vh auto 0 auto;
        font-size: 30px; }
      body .contact .main .magInfo {
        margin: auto; }
        body .contact .main .magInfo p {
          width: 20vw;
          margin: auto; }

/*# sourceMappingURL=style.css.map */
